annotated-types==0.7.0
html5rdf==1.2.1
importlib_metadata==8.7.1
iniconfig==2.3.0
owlrl==7.1.4
packaging==26.0
pluggy==1.6.0
prettytable==3.17.0
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
pyparsing==3.3.2
pyshacl==0.31.0
pytest==9.0.2
rdflib==7.6.0
typing-inspection==0.4.2
typing_extensions==4.15.0
wcwidth==0.6.0
zipp==3.23.0
